<% provide(:title, "Help") %>
<div class="center jumbotron hero-spacer">
  <h1>Help</h1>
  <p>
    Get help on the Ruby on Rails Twitter rip-off
    <a href="http://api.rubyonrails.org/">Rails api help page</a>
    To get help on the Twitter rip-off, see the
    <a href="https://github.com/spacemonkeythe">Rails gitHub repositorium</a>
  </p>
</div>

